<div>
    <v-app-bar app dark>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="d-flex d-sm-none"></v-app-bar-nav-icon>
        <v-btn text class="d-flex align-center" @click="goToHome">
            <v-img alt="Vuetify Logo" class="shrink mr-2" contain src="@/assets/knight.png"
                transition="scale-transition" width="40" /> <span class="text-uppercase">Guerreiros!</span>
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn text @click="goToHall" class="d-none d-sm-flex">
            <v-img alt="Vuetify Logo" class="shrink mr-2" contain src="@/assets/shield.png"
                transition="scale-transition" width="40" /> <span class="text-uppercase">Hall dos Heróis!</span>
        </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute left temporary>
        <v-list nav>
            <v-list-item-group v-model="group">
                <v-list-item @click="goToHall">
                    <v-img alt="Vuetify Logo" class="shrink mr-2" contain src="@/assets/shield.png"
                        transition="scale-transition" width="40" /> <span class="text-uppercase">Hall dos Heróis!</span>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-navigation-drawer>
</div>