<v-card elevation="2">
    <v-card-title>
        <div class="font-weight-medium text-uppercase grey--text">
            Meus Guerreiros
        </div>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="goToCreate">
            Novo Guerreiro
        </v-btn>
    </v-card-title>
    <v-card-text>
        <v-data-table :headers="headers" :items="dataTable" class="elevation-2">
            <template v-slot:item="props">
                <tr @click="selectLine(props.item)">
                    <td>{{ props.item.name }}</td>
                    <td>{{ getAge(props.item.birthday) }}</td>
                    <td>{{ props.item.weapons? props.item.weapons.length : 0 }}</td>
                    <td>{{ dictAttribute[props.item.keyAttribute] }}</td>
                    <td>{{ getAtack(props.item) }}</td>
                    <td>{{ getExperience(props.item) }}</td>
                </tr>
            </template>
            <template v-slot:no-data>
                Sem guerreiros cadastrados
            </template>
        </v-data-table>
    </v-card-text>
</v-card>